body {
    background-color:#151515;
    font-family: "Segoe UI", Verdana, sans-serif;
    color: white;
}

.functions-viewer {
    display: flex;
    gap: 10px;
}

.function-inputs {
    width: 10vw;
}

.function-input {
    display: flex;
    width: 100%;
}

.function-input > input {
    width: 70%;
}

#add-function {
    width: 100%;
}

#plot {
    flex-grow: 1;
    width: 100%;
    height: 80vh;
}

@media screen and (max-width: 870px) {
    .functions-viewer{
        flex-direction: column;
    }

    .function-inputs {
        width: 90vw;
    }

    .input-list {
        max-height: 100px;
        overflow-y: auto;
    }

    .function-input > input {
        width: 100%;
    }
}